.center {text-align:center;}
body {margin-top:40px;padding-right:20px;padding-left:20px;}
.flash-container{position: absolute; left: 50%;top:45px;}
.flash-body{position: relative; left: -250px; width: 500px; text-align: center;}