<div class="navbar navbar-fixed-top no-print" id="topnav">
  <div class="navbar-inner">
    <div class="container">
      <a  class="brand" href="<%= root_path %>">NppesData</a>
      <ul class="nav">
        <li class="active"><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= search_providers_path %>">Search</a></li>
      </ul>
    </div>
  </div>
</div>